@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap");
body {
  background-color: white;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  line-height: 1em;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important; }

pre {
  display: block;
  padding: 0;
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.2em;
  word-break: break-all;
  word-wrap: break-word;
  color: #333333;
  background-color: #ccc;
  border: 1px solid  #cccccc;
  border-radius: 4px;
  width: 100vw; }

a:hover,
button:hover {
  cursor: pointer !important; }
